@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-gray-950 text-slate-100 font-inter tracking-wide;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #0e0e96;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
  }

  @keyframes tilt-left {
    0%,
    100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }

  @keyframes tilt-right {
    0%,
    100% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(-5deg);
    }
  }

  @keyframes fade-move-up {
    0%,
    100% {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-20px);
    }
  }

  .fade-move-up {
    animation: fade-move-up 3s infinite;
  }

  .tilt-left {
    animation: tilt-left 3s infinite;
  }

  .tilt-right {
    animation: tilt-right 3s infinite;
  }
}

@layer components {
  /* keep section padding in all section components */
  .section-padding {
    @apply px-10 py-7 sm:px-20 sm:py-16;
  }
  .page-wrapper {
    @apply container mx-auto;
  }

  /* 3d section */
  .canvas-container {
    width: 100vw;
    height: 100vh;
    overflow: absolute;
    margin: 0;
    padding: 0;
  }

  .canvas-container > div {
    /* width: 100% !important;
    height: 120vh !important; */
    width: 40vh !important;
    height: 100vh !important;
    /* @apply sm:!w-[100%] !w-[20vw] sm:!h-[80vh] !h-[120vh] */
  }

  .canvas-container canvas {
    width: 100% !important;
    height: 100vh !important;
    display: block; /* Ensure no extra space */
  }

  /* our products section */
  .background {
    background-color: #101a34;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23030712' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  }
}
